html, body {
  height: 100%;
  background: url("../image/bg.jpg");
  color: #fefefe;
  font-family: Consolas, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  background-size: cover;
  overflow: hidden;
}

#app {
  display: flex;
  height: 100%;

  .icon-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: flex-start;
  }

  .auth-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    background: #ffffff;
    border-radius: 4px;
  }

  .app-icon-standard {
    background: url("../image/application.png");
  }
}
