body {
  background: #d8d8d8;
  font-family: Consolas, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.button-group {
  display: flex;
  flex: 1;

  > button {
    flex: 1;
  }
}

.button-group-separated {
  display: flex;
  flex: 1;

  > button {
    flex: 1;
    margin-right: 5px;
  }

  > button:last-child {
    margin-right: 0;
  }
}

button {
  cursor: pointer;
  background: #ff5200;
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;

  &:hover {
    background: #ff7f74;
  }

  &:active {
    position: relative;
    top: 1px;
    background: #bf4a00;
  }
}

.disabled {
  background: #acacac;
  color: #d7d7d7;

  &:hover {
    background: #acacac;
    color: #d7d7d7;
  }

  &:active {
    background: #acacac;
    color: #d7d7d7;
    position: relative;
    top: 0;
  }
}

.error-button {
  background: #e21919;
}

.success-button {
  background: #38d02e;
}

.micro-button {
  padding: 2px 5px;
}

.block {
  padding: 10px;
  background: #ffffff;
  border-radius: 4px;
}

.block-wrapper {
  padding: 5px;
}

table {
  display: flex;
  flex: 1;
  border-collapse: collapse;
  flex-direction: column;

  thead, tbody {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;

    tr {
      display: flex;
      background: #f1f5f8;

      th {
        text-align: left;
        background: #b6b6b6;
      }

      td, th {
        flex: 1;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    tr:nth-child(2n) {
      background: #efedf0;
    }
  }
}