<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VDE</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/main.js"></script>
    <script src="/lib/extender.js"></script>
</head>
<body>
<div id="app">
    <!-- Auth form -->
    <div v-if="!user" class="auth-form">
        <form>
            <input type="text" v-model="input.login">
            <input type="password" v-model="input.password" autocomplete="">
        </form>
        <button @click="userApi.auth(input.login, input.password)">Auth</button>
    </div>

    <!-- Application icon list -->
    <div class="icon-list">
        <application-icon v-if="user"
                          :app-data="app"
                          v-for="app in applicationList"
                          :position="app.position"
                          :key="app.name" :style="{ width: screen.iconWidth, height: screen.iconHeight }"></application-icon>
    </div>

    <!-- Window list -->
    <application-window :window-data="win" v-for="win in windowList" :key="win.sessionKey"></application-window>
</div>
</body>
</html>